
* {
    text-decoration: none;
  }

body
{
    width: 80%;
    text-align: center;
    margin-left: 200px;
    background-color:white;
}

header {
    border-radius: 10px;
    text-align: center;
    color: white;
    background-color: cornflowerblue;
    align-items: center;
  }

ul
{
    list-style: none;
    display:flex;
    flex-direction: row;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 3px 3px;
    border-radius: 2px;
    margin: 2px 10px;
}

 /* #EncabezadoAdmin
{
    text-align: center;
    color: gray;
}*/

#banner{
    height: 100px;
    width: 200px;
} 

form > label {
    font-weight: bold;
  }
  
  form {
    margin-right: 10px;
  }
  
form button {
    padding: 0.5em 1em;
    border: none;
    background: rgb(100, 200, 255);
    cursor: pointer;
}

input {
    border: none;
    background-color: lightgray;
    width: 100%;
    padding: 4px;
    border-radius: 5px;
    font-size: 12px;
}

fieldset {
    width: 50%;
  }
  
  fieldset legend {
    font-size: 20px;
  }

footer
{
    background-color: cornflowerblue;
}

footer p
{
    margin-bottom: 0px;
}

#Filtro{
    background-color: cornflowerblue;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;

}

#btnPreferencias {
    border-radius: 20px;
  }

table
{
    border-collapse: collapse;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 20px;
}

table,th,td
{
    border:1px solid black;
}

th{
    background-color: brown;
}

.oculto{

    display: none;
}

.visible
{
    display: block;
}

#containerDeCosas
{
    margin-bottom: 10px;
    margin-top: 20px;

}
.containerDeCosas,img{
    width: 50px;
}

